<td>
  <input class="form-control name" type="text" placeholder="Name" value="{{name}}">
</td>
<td>
  <input class="form-control email" type="email" placeholder="Email address" value="{{email}}">
</td>
<td>
  <input class="form-control key" type="text" value="{{key}}" readonly>
</td>
<td>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-primary save" disabled="disabled"><span class="glyphicon glyphicon-floppy-disk"></span> <span class="text">Save</span></button>
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-{{_id}}"><span class="glyphicon glyphicon-trash"></span> <span class="text">Delete</span></button>
  </div>

  <div class="modal fade" tabindex="-1" id="delete-{{_id}}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Confirm user deletion</h4>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete user <strong>{{name}}</strong>?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger delete" data-dismiss="modal"><span class="glyphicon glyphicon-trash"></span> <span class="text">Delete {{name}}</span></button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</td>